<div id="title">
    <h1>{{title}}</h1>
    <h2>{{subtitle}}</h2>
    <p>{{email}}</p>
</div>

<article class="about">
    <h2>Sobre mi</h2>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde,voluptatum totam quis pariatur necessitatibus repellendus illo in dolorum atque magni sapiente quia aut tempore corporis beatae earum ullam cumque quas. Facere ipsum cum nesciunt, iusto porro quod, sapiente dolor, veniam quos eaque magni. Itaque non impedit voluptatem aliquid corrupti iusto quod officiis suscipit nam maiores magnam, delectus repellendus assumenda sapiente! Rem modi ad similique cumque, rerum perferendis. Voluptates, architecto consectetur ipsum deleniti officiis perferendis ducimus doloremque tenetur sapiente iste, obcaecati rem itaque distinctio reprehenderit laborum vero consequuntur reiciendis laudantium ipsam corporis natus! Aut repellat saepe inventore laborum quasi illo harum?
    </p>
</article>
